<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./views/partials/head'); %>
  </head>
  <body>
    <script src="../src/index.js"></script>
    <header>
      <%- include('./views/partials/header'); %>
    </header>
    <main>
      
    </main>
    <footer>
      <%- include('./views/partials/footer'); %>
    </footer>
  </body>

</html>
